<div class="FormContainer">
    <app-yesornoradiobutton [sectionTitle]="Facialcleansing"
        (onSubmitEvent)="radioBtnEvent($event,Facialcleansing)"></app-yesornoradiobutton>
    <app-yesornoradiobutton [sectionTitle]="Microdermabrasion"
        (onSubmitEvent)="radioBtnEvent($event ,Microdermabrasion)"></app-yesornoradiobutton>
    <app-yesornoradiobutton [sectionTitle]="Milkcleanse"
        (onSubmitEvent)="radioBtnEvent($event , Milkcleanse)"></app-yesornoradiobutton>
    <app-yesornoradiobutton [sectionTitle]="Gentlescrub"
        (onSubmitEvent)="radioBtnEvent($event ,Gentlescrub)"></app-yesornoradiobutton>
    <app-yesornoradiobutton [sectionTitle]="Comedoneextraction"
        (onSubmitEvent)="radioBtnEvent($event,Comedoneextraction )"></app-yesornoradiobutton>
    <app-multi-checkbox [sectionTitle]="Toolused"></app-multi-checkbox>
</div>
