//Theme colors
$primary-blue-color: #1855B0;
$white-color: #fff;
$primary-black-color:#1E1D1D;
$black-color: #000;
$white-shade1-color: #f8f8f8;
$white-shade2-color: #f2f2f2;

$black-shade1-color: #2B2B2B;
// blue shade Colors
$blue-shade1-color:#033279;
$blue-shade2-color:#1955AF;
$blue-shade3-color:#4B85DD;
$blue-shade4-color:#80AFF5;
$blue-shade5-color:#456DFE;
$blue-shade6-color:#2359AA;
$blue-shade7-color:#2791DF;
$blue-shade8-color:#4A6FB8;
$blue-shade9-color:#1954AC;
$blue-shade10-color:#1B56AE;
$blue-shade11-color:#1C56AE;



// gradient color
$gradient-shade1-color: linear-gradient(to right, #1855b0, #1551ab, #124da6, #0e49a2, #0a459d);
$gradient-shade2-color: linear-gradient(to bottom, #2365c7, #3370ce, #417bd4, #4f86da, #5c91e0);

// GrayShade colors & Border Colors
$input-border-color:#B7B7B7;
$gray-border1-color:#C8C8C8;
$gray-border2-color:#CECECE;
$gray-border3-color:#AEAEAE;
$gray-shade1-color:#EAEAEA;
$gray-shade2-color:#848484;
$gray-shade3-color:#5F5F5F;
$gray-shade4-color:#DDDCDC;

// green shade color
$green-shade1-color:#00B83E;
$green-shade2-color:#379E1E;
$green-shade3-color:#0C5725;
$green-shade4-color:#18A515;
$green-shade5-color:#0C5725;
$green-shade6-color:#B5EBCC;
$green-shade7-color:#156807;

// yellow shade color
$yellow-shade1-color :#C5B630;
$yellow-shade2-color:#C89513;
$yellow-shade3-color:#FFDB1F;


// red shade color 
$red-color: #FF0000;
$red-shade1-color:#A40E0E;
$red-shade2-color:#F30000;
$pink-shade1-color:#FE7AB6;

// FontSize
$sz-12-font: 12px;
$sz-13-font: 13px;
$sz-14-font: 14px;
$sz-15-font: 15px;
$sz-16-font: 16px;
$sz-17-font: 17px;
$sz-18-font: 18px;
$sz-20-font: 20px;
$sz-21-font: 21px;
$sz-22-font: 22px;
$sz-23-font: 23px;
$sz-24-font: 24px;
$sz-25-font: 25px;
$sz-26-font: 26px;
$sz-30-font: 30px;


//font-weight

$regular-font: normal;
$semi-bold-font: 600;
$bold-font: 700;
$extra-bold-font: 800;