<!-- Developer Name : Varsha 
Module Name: Summary -->

<div class="summaryOtrContainer">
    <div class="headerOtr">
        <img class="summaryIcon" src="../../../../assets/icons/summaryForm.svg"/>
        <p class="summaryHeader">Summary</p>
        <img class="closeIcon" src="../../../../assets/icons/cross-white.svg"/>
    </div>
    <div class="summaryContentOtr">
        <div class="commentContainer">
            <h2 class="headerLine">Comments</h2>
            <li class="leftAlign1 commentList">Hashim | 08/02/2023 11:15:00 AM
                <p class="leftAlign1">Next appointment after two weeks</p>
            </li>
        </div>
        <div class="summaryContentContainer">
            <h2 class="headerLine">Summary</h2>
            <div class="headerCenter">
                <h2 class="headerLine">Dermatology General Form</h2>
            </div>
            <div class="historyOtr">
                <h2 class="headerLine">History</h2>
                <div class="historyDetails">
                    <p class="headerBlue">Medical History</p>
                    <p class="headerBlack">Hypertension</p>
                    <p class="datablack leftAlign1">For past 3 years</p>

                    <p class="headerBlack">Diabetes</p>
                    <p class="datablack leftAlign1">For past 6 months</p>

                    <p class="headerBlue">Medication History</p>
                    <p class="headerBlack">Asthma</p>
                    <p class="datablack leftAlign1">Omalizumab 2 months</p>

                    <p class="headerBlue">Allergy</p>
                    <p class="headerBlack">No</p>

                    <p class="headerBlue">History of Smoking/Drinking</p>
                    <p class="headerBlack">No</p>
                </div>
            </div>
            <div class="subjectiveOtr">
                <h2 class="headerLine">Subjective</h2>
                <div class="subjectiveDetails">
                    <h2 class="header">Dermatology</h2>
                    <h2 class="header leftAlign1">Skin & Mucosa</h2>
                    <h2 class="header leftAlign2">Itching</h2>
                    <p class="headerBlue leftAlign3">Allergy</p>
                    <p class="headerBlack leftAlign3">Yes</p>
                    <p class="headerBlack leftAlign4">Medication</p>
                    <p class="datablack leftAlign5">Cetirizine in 2020</p>
                    <p class="headerBlue leftAlign3">Complaint</p>
                    <p class="headerBlack leftAlign3">Causing irritation</p>
                    <p class="headerBlue leftAlign3">Site</p>
                    <p class="headerBlack leftAlign3">Neck</p>
                    <p class="headerBlack leftAlign4">Unilateral</p>
                    <p class="headerBlue leftAlign3">Duration</p>
                    <p class="headerBlack leftAlign3">5</p>
                    <p class="headerBlack leftAlign4">Hours</p>
                    <p class="headerBlue leftAlign3">Onset</p>
                    <p class="headerBlack leftAlign3">Sudden</p>
                    <p class="headerBlack leftAlign3">Gradual</p>
                    <p class="datablack leftAlign4">Keeps on increasing</p>
                    <p class="headerBlue leftAlign3">Aggravating Factors</p>
                    <p class="headerBlack leftAlign3">Sun</p>
                    <p class="headerBlue leftAlign3">Severity</p>
                    <p class="headerBlack leftAlign3">Moderate</p>
                    <p class="headerBlue leftAlign3">Previous Treatment of this complaint</p>
                    <p class="headerBlack leftAlign3">Yes</p>
                    <p class="datablack leftAlign4">6 months before</p>
                    <p class="headerBlue leftAlign3">Weight Diet</p>
                    <p class="headerBlack leftAlign3">No</p>
                </div>
            </div>
            <div class="examinationOtr">
                <h2 class="headerLine">Examination</h2>
                <p class="headerBlue">Body Chart</p>
                <img class="examinationBodyImage" src="../../../../assets/icons/summary-body.svg"/>
                <p class="headerBlue">Face Chart</p>
                <img class="examinationFaceImage" src="../../../../assets/icons/summary-face.svg"/>
                <p class="headerBlack leftAlign2">Additional Information</p>
                <p class="datablack leftAlign2">BOTX*20 UNITS - <br>
                    VOLUMA.5CC Each</p>
            </div>
            <div class="carePlanOtr">
                <h2 class="headerLine">Plan of Care</h2>
                <p class="headerBlue">Treatment Goals</p>
                <p class="headerBlack">- For BOTOX, FILLER + LASER</p>
                <p class="headerBlack">- RX GIVEN + INSTRUCTIONS</p>
                <p class="headerBlue">New Appointment Date</p>
                <p class="headerBlack">2023-08-30</p>
                <p class="headerBlue">Additional Recommendations</p>
                <p class="headerBlack">RTC: 1 WEEK FOR LASER MEDLITE</p>
            </div>
        </div>
    </div>
</div>