<div class="orderClinicContainer">
    <div class="leftcontainer">
        <div class="icon">
            <img [src]="'../../../assets/icons/problemBack.svg'" />
        </div>
        <div class="searchFav">
            <app-search-fav [allData]="medicalCodeList" [header]="'orderForm'"/>
        </div> 
    </div>
    <div class="rightcontainer">
        <div class="popupForm">
            <app-popup-form/>
        </div>
        <div class="popupForm">
            <app-popup-form/>
        </div>
    </div>
</div>
