@use "./../../../../assets/theme/theme-variable.scss"as *;
@use "./../../../../assets/commonStyle/commonStyle.scss" as *;

.orderTabContainer {
    .orderHeader {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $gray-border3-color;
        padding: 16px 42px;
        background-color: $white-shade1-color;
        .addOrder {
            margin-left: 25px;
            display: flex;
            flex-direction: row;
            .orderTitle {
                margin-left: 15px;
                margin-top: 5px;
                @extend .tabheader;
            }
        }
        .addicon {
            width: 25px;
            height: 25px;
            cursor: pointer;
        }
    }
        .outerTabContainer {
            padding: 14px 40px;
            border-bottom: 1px solid $gray-border3-color;
            display: flex;
            flex-direction: row-reverse;
    
            .outerHeader {
                margin-inline: 20px;
                background-color: $primary-blue-color;
                padding: 5px 15px;
                color: $white-color;
                border-radius: 3px;
                font-size: $sz-16-font;
                font-family: 'Poppins-Regular';
            }
        }
        .actionOtr{
            width: 14%;
            background: $white-color;
            display: block;
            padding: 10px;
            border: 0.5px solid $gray-shade4-color;
            border-radius: 10px;
            position: absolute;
            .actionBtn{
                background-color: $primary-blue-color;
                color: $white-color;
                font-size: $sz-16-font;
                font-family: "Poppins-Regular";
                border: none;
                width: 80%;
                height: 48px;
                padding: 10px 12px;
                margin: 10px;
            }
        }
        .tabContainer{
           position: absolute;
        }
}
::ng-deep {
    .orderTabContainer {
        .tabContainer {
            li.p-tabview-ink-bar {
                display: none;
            }
            .p-tabview-nav-container {
                border: none;
                margin-bottom: 10px;
                border-radius: 0;
                box-shadow: none;
                padding: 0;
                display:flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                }
                p-tabview .p-tabview-nav li  {
                    margin:0 !important;
                }
                .p-tabview .p-tabview-nav li .p-tabview-nav-link {
                border-radius: 0px 0px 10px 10px !important;;
                border-bottom: 1px solid $gray-shade2-color !important;
                border-inline: 1px solid $gray-shade2-color !important;
                padding: 10px 5vw !important;
                box-shadow: 0px 4px 2px !important;
                margin: 0 0px 10px 0 !important;
                height: 50px
            }
            .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
                background: $gray-shade4-color;
                color: $gray-shade2-color !important;
                border: 3px solid $primary-blue-color!important;
        }
        }
    }
}